@font-face {
    font-family: mylato;
    src: url('../fonts/SteelfishRg-Regular/steelfish_rg.woff');
 }
 @import url('https://fonts.googleapis.com/css?family=Elsie');

 body{
     background-color: #fff;
     font-family: mylato,sans-serif;
 }
 a{
     text-decoration: none
 }