.establish{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40em;
    width: 100%;
    background-color: white;
    color: rgb(65, 65, 65);
}
.establish h2{
    font-size: 2em
}
.establish .first{
    padding: 3em
}

.establish .seconed{
    padding: 1em;
    font-size: 1.5em;
    line-height: 1.5em
}
.establish p{
    padding: 1.5em 0
}
p.signeture{
    padding: 0
}

@media only screen and (max-width:47.77em){
    .establish{
        grid-template-columns: 1fr;
        height: 85em
    }
    .establish .first img{
        width: 100%
    }
}