@import url('https://fonts.googleapis.com/css?family=Lato');

$grey: #BFBFBF;
$white: rgb(194, 194, 194);
$deep-blue: #263238;

html,body{
    overflow-x: hidden
}



.clearfix{clear: both;}
.container{width:100%;height:40em}
