.consultation{
    height:15em;
    background-color: $deep-blue;
    padding: 3em 6em;
}
.consultation h1{
    font-size: 3em;
    text-align: center;
    color: $white;
}
.consultation p{
    font-size: 1.5em;
    text-align: center;
    color: $white;
    line-height: 1.5em;
    padding-top: 1em;
}

.consultation a{
    text-decoration: none;
    color: $white;
    border: 2px solid $white;
    padding: 0.3em;
}

.consultation a:hover{
    background-color: ($deep-blue/2);
    border-color: ($deep-blue/2);
    transition: all 0.4s ease;
}
p.link{
    padding-top: 2em
}


@media only screen and (max-width:47.777em){
    .consultation{
        height:35em;
        padding: 1em;
    }
}