footer{
    background-color: #222222;
    color: $white
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30em;
}
.contact-left{
    padding: 5em
}
.contact-left h1{
    font-size: 5em;
    color: goldenrod
}
.contact-left h2{
    font-size: 3.5em;
    padding-top: 1em
}
.contact-left p{
    font-size: 2.5em;
    padding-top: 0.7em
}
.copy{
    font-size: 1.5em
}

.contact-right{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

a.social{
    padding: 0 1em;
    color: $white;
    &:hover{
        color: $white+30
    }
}
a.trial{
    font-size: 1.5em;
    color: $white;
    text-decoration: none;
    border: 2px solid $white;
    padding: 0.3em;
    &:hover{
        color: $white+30;
        border-color: $white+30
    }
}
div.trial p{
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em
}
div.trial h1{
    font-size: 2em;
}

@media only screen and (max-width:47.77em){
    .footer{
        grid-template-columns: 1fr;
        height: 35em
    }
    .contact-left h1{
        font-size: 3em;
        text-align: center
    }
    .contact-left h2{
        font-size: 2.5em;
        padding-top: 1em;
        text-align: center
    }
    .contact-left p{
        font-size: 1.5em;
        padding-top: 0.7em;
        text-align: center
    }
}