$grey: (#83898F/1.5);
$white: #FEFEFE;
$light-grey: (rgb(88, 88, 88)*1.5);

html,body{
    color: black;
    font-family: 'lato','roboto',sans-serif;
    background-color: #FEFEFE;
}
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none
}
.fixed{
    position: relative;
    width: 100%
}
.relative{
    position: relative;
    left: 0;
    top: 0;
}



@font-face {
    font-family: brandon ;
    src: url('../fonts/Brandon_bld.otf');
}
.hidden{
    display: none
}
main{
    height: auto;
    background-color: white;
    width: 100vw
}
.black{
    background-color: black !important;
    transition: all 0.2s ease
}