.work2{
    height: 40em;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('../images/parallex2.jpg');
    margin-top: 20em
}