.interview-text{
    grid-area: text1;
}
.pic3{
    grid-area: pic3;
}
section.interview{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text1 pic3";
    margin-top: 10em
}

.interview-text{
    background-color: $cool-black;
    color: #E8E8E8;
    font-family: 'Rammetto One',sans-serif;
    height: 430px
}
.interview-text h4{
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    padding-top: 5em
}
.interview-text h3{
    font-size: 1.5em;
    text-align: center;
    padding: 0.3em   
}

.interview-text p{
    font-size: 1em;
    font-family: 'lato',sans-serif;
    line-height: 1.5em;
    text-align: center
}
.interview-text p.link{
    font-size: 1.3em
}

.interview-text .link a{
    text-decoration: none;
    color: #E8E8E8;
    border: 2px solid #E8E8E8;
    padding: 0.3em
}
.interview-text .link a:hover{
    background-color: #E8E8E8;
    color: $cool-grey;
    transition: all 0.4s ease;
}

@media only screen and (min-width:48em){
    .pic3{
        margin-left: -90px;
        z-index: 2;
    }
    .interview-text{
        padding-right: 90px;
        padding-left:  60px;
        margin-top: -50px;
        z-index: 1;
    }
}
@media only screen and (max-width:47.77em){
    section.interview{
        grid-template-columns: 1fr;
        grid-template-areas: "pic3"
                            "text1"; 
        width: 80%;
        margin: 0 auto;
        margin-top: 4em
    }
    .interview-text h3{
        font-size: 1em;
    }
    .interview-text p{
        font-size: 1em
    }
    .pic3 img{
        width: 100%
    }
    .interview-text{
        height: 460px;
    }
    .interview-text .link a{
        font-size: 0.9em
    }
}

@media only screen and (max-width:400px){
    .interview-text{
        height: 500px;
    }
}