@font-face {
    font-family: mylato;
    src: url('../../fonts/SteelfishRg-Regular/steelfish_rg.woff');
 }
 @import url('https://fonts.googleapis.com/css?family=Elsie');

 body{
     background-color: black;
     font-family: mylato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 a{
     text-decoration: none
 }