.content{
    height: 55vh;
    filter: grayscale(100%);
    transition: all 0.4s ease;
    position: relative;
}
.content1{
    background-image: url('../forest/snow13.jpeg');
    background-size: cover;
}
.content2{
    background-image: url('../safari/safari3.jpeg');
    background-size: cover;
}
.content3{
    background-image: url('../images/city.jpeg');
    background-size: cover;
}
.content4{
    background-image: url('../street/street7.jpeg');
    background-size: cover;
}
.content5{
    background-image: url('../anniversary/anniversary1.jpeg');
    background-size: cover;
}
.content6{
    background-image: url('../Tatyana/tatyana25.jpg');
    background-size: cover;
}
.content7{
    background-image: url('../Newstore/newstore9.jpeg');
    background-size: cover;
}
.content8{
    background-image: url('../images/newline.jpg');
    background-size: cover;
}
.content9{
    background-image: url('../images/malemodel.jpeg');
    background-size: cover;
}
.content:hover{
    filter: grayscale(0%);
}
.content .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease
}
.content:hover .overlay{
    opacity: 1
}
@media only screen and (max-width:47.77em){
    .content .overlay{
        opacity: 1
    }
    .content{
        filter: grayscale(0%)
    }
}