#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%
}
.flex h1{
    font-size: 10em;
}