.watch{
    height: 55vh
}
.watch .flex{
    height: 100%;
    position: static;
    align-items: center;
    flex-direction: column
}
.watch .flex h3{
    color: white;
    font-size: 6em;
}
.watch .flex p{
    color: white;
    font-size: 1.4em;
    padding-top: 1em;
    word-spacing: 5px;
    letter-spacing: 2px
}