$light-blue: #63E1FF;
$cool-grey: #757575;
$dark-grey: #212121;
//base
body{background-color: rgb(238, 232, 232)}
@media only screen and (min-width:48em){
    .left{margin-left: auto !important;}
.right{margin-right: auto !important;}
}
:focus{
    outline: 0
}
@import 'navbar';
@import 'sections';
@import 'hero';
@import 'relax-couple';
@import 'destinations';
@import 'contact';
@import 'footer';
