$light-blue: #63E1FF;
$cool-grey: #757575;
$dark-grey: #212121;
//base
body{background-color: rgb(238, 232, 232)}
.left{margin-left: auto !important;}
.right{margin-right: auto !important;}
@import 'navbar';
@import 'sections';
@import 'hero';
@import 'relax-couple';
@import 'couple';
@import 'destinations';
@import 'contact';
@import 'footer';
