footer{height:40vh;background-color: $dark-grey}
.border-left{border-left: 1px solid rgb(190, 186, 186)}
.wrapper1{height: 80%;margin-top: 2em}
.wrapper1 h4{font-size: 2em;color: #E5E5E5}
.wrapper1 p{font-size: 1.5em;color: $cool-grey}
p a span{font-size: 1.5em;padding-right: 1em;}



@media only screen and (max-width:47.777em){
    footer{height: 30vh}
.wrapper1{height: 60%;margin-top: -11px;}
.wrapper1 h4{font-size: 1.3em;color: #E5E5E5;padding-top: 3px}
.wrapper1 p{font-size: 1em;color: $cool-grey}

  }