@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  clear: both;
}

.container {
  width: 100%;
  height: 40em;
}

nav ul {
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  -webkit-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0em 3.5em;
}

nav a {
  text-decoration: none;
  color: #BFBFBF;
  font-size: 2em;
}

nav a:hover {
  color: #606060;
  transition: all 0.4s ease;
}

.logo {
  color: #BFBFBF;
  padding: 0.8em;
  font-size: 2.5em;
}

.handle {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
  color: #BFBFBF;
  display: none;
}

@media only screen and (min-width: 48em) {
  .logo {
    float: left;
  }
}

@media only screen and (max-width: 47em) {
  .logo {
    display: block;
    text-align: center;
  }
  nav ul {
    max-height: 0em;
  }
  .showing {
    max-height: 20em;
  }
  nav li {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
  }
  .handle {
    display: block;
    width: 100%;
  }
  .menu {
    font-size: 1.3em;
  }
  .bars {
    float: right;
    font-size: 1.3em;
  }
}

#nav {
  height: 70px;
  background: transparent;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#logo {
  color: #BFBFBF;
  padding: 1em;
  font-size: 3em;
  transition: all ease .5s;
  color: goldenrod;
}

#nav.shrink #logo {
  padding: 0.2em;
  font-size: 2em;
}

#nav.shrink {
  height: 55px;
  transition: all ease .5s;
  background: black;
}

#nav.shrink li {
  padding-top: 0.7em;
}

#nav.shrink a {
  font-size: 2em;
}

#nav.shrink .clearfix {
  display: none;
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}

#nav.shrink ul {
  background-color: rgba(0, 0, 0, 0.801);
}

#nav.shrink .handle {
  background-color: rgba(0, 0, 0, 0.637);
}

header {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/hero.jpeg");
}

@media only screen and (max-width: 47em) {
  header {
    background-image: url("../images/hero3.jpg");
  }
}

.flex-square {
  display: flex;
  flex-direction: column;
}

a.square, a.square2 {
  text-decoration: none;
  display: block;
}

a.pink:hover {
  background-color: #e2256a;
}

a.grey:hover {
  background-color: #4a4a4a;
}

.pink, .grey {
  width: 100%;
  height: 30em;
}

.grey {
  background-color: #404040;
  color: #d4d0d0;
}

.pink {
  background-color: #d81b60;
  color: #212121;
}

.square-content {
  padding: 2em;
  padding-top: 7em;
  font-family: 'lato',sans-serif;
}

.square-content h1 {
  font-size: 1.7em;
  padding-bottom: 1em;
  font-weight: 700;
}

.square-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-right: 3em;
  font-weight: 100;
}

.square-content h4 {
  font-size: 1.5em;
  padding-top: 1em;
  font-weight: 300;
}

@media only screen and (min-width: 48em) {
  .pink, .grey {
    width: 50%;
    height: 40em;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .square-content {
    padding: 5em;
    padding-top: 10em;
  }
  .square-content h1 {
    font-size: 2.5em;
    padding-bottom: 1em;
  }
  .square-content p {
    font-size: 1.8em;
    line-height: 1.3em;
    padding-right: 3em;
  }
  .grey .square-content p {
    line-height: 1.5;
  }
  .grey .square-content h4 {
    padding-top: 1.7em;
  }
  .square-content h4 {
    font-size: 2em;
    padding-top: 1em;
  }
  .flex-square {
    display: flex;
    flex-direction: row;
  }
}

.mission {
  height: 15em;
  background-color: #263238;
  padding: 4em 10em;
}

.mission h1 {
  font-size: 3em;
  text-align: center;
  color: #c2c2c2;
}

.mission p {
  font-size: 1.5em;
  text-align: center;
  color: #c2c2c2;
  line-height: 1.5em;
  padding-top: 1em;
}

.mission a {
  text-decoration: none;
  color: #c2c2c2;
  border: 2px solid #c2c2c2;
  padding: 0.3em;
}

.mission a:hover {
  background-color: #13191c;
  border-color: #13191c;
  transition: all 0.4s ease;
}

p.link {
  padding-top: 1em;
}

@media only screen and (max-width: 47.777em) {
  .mission {
    height: 27em;
    padding: 1em;
    padding-top: 3em;
  }
}

.parallex1, .parallex2, .parallex3, .parallex4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.parallex1 {
  background-image: url("../images/parallex.jpeg");
  height: 40em;
}

.parallex2 {
  background-image: url("../images/parallex4.jpg");
  height: 40em;
}

.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.parallex1 h1, .parallex2 h1, .parallex3 h1, .parallex4 h1 {
  font-size: 7em;
  color: #c2c2c2;
}

@media only screen and (max-width: 47.77em) {
  .parallex1 h1, .parallex2 h1, .parallex3 h1, .parallex4 h1 {
    font-size: 4em;
  }
}

.consultation {
  height: 15em;
  background-color: #263238;
  padding: 3em 6em;
}

.consultation h1 {
  font-size: 3em;
  text-align: center;
  color: #c2c2c2;
}

.consultation p {
  font-size: 1.5em;
  text-align: center;
  color: #c2c2c2;
  line-height: 1.5em;
  padding-top: 1em;
}

.consultation a {
  text-decoration: none;
  color: #c2c2c2;
  border: 2px solid #c2c2c2;
  padding: 0.3em;
}

.consultation a:hover {
  background-color: #13191c;
  border-color: #13191c;
  transition: all 0.4s ease;
}

p.link {
  padding-top: 2em;
}

@media only screen and (max-width: 47.777em) {
  .consultation {
    height: 35em;
    padding: 1em;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 30em;
}

.img img {
  width: 100%;
  height: 100%;
}

.membership {
  background-color: #263238;
  padding: 4em;
}

.membership h1 {
  font-size: 4em;
  color: #c2c2c2;
  padding-bottom: 1em;
  text-align: center;
}

.membership h1 span {
  color: goldenrod;
}

.membership p {
  font-size: 1.5em;
  color: #c2c2c2;
  line-height: 1.5em;
  text-align: center;
}

.membership a {
  text-decoration: none;
  font-size: 1.5em;
  color: #c2c2c2;
  border: 2px solid #c2c2c2;
  padding: 0.3em;
}

.membership a:hover {
  background-color: #13191c;
  border-color: #13191c;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 47.77em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

footer {
  background-color: #222222;
  color: #c2c2c2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30em;
}

.contact-left {
  padding: 5em;
}

.contact-left h1 {
  font-size: 5em;
  color: goldenrod;
}

.contact-left h2 {
  font-size: 3.5em;
  padding-top: 1em;
}

.contact-left p {
  font-size: 2.5em;
  padding-top: 0.7em;
}

.copy {
  font-size: 1.5em;
}

.contact-right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.social {
  padding: 0 1em;
  color: #c2c2c2;
}

a.social:hover {
  color: #e0e0e0;
}

a.trial {
  font-size: 1.5em;
  color: #c2c2c2;
  text-decoration: none;
  border: 2px solid #c2c2c2;
  padding: 0.3em;
}

a.trial:hover {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

div.trial p {
  padding-top: 2em;
  text-align: center;
  padding-bottom: 2em;
}

div.trial h1 {
  font-size: 2em;
}

@media only screen and (max-width: 47.77em) {
  .footer {
    grid-template-columns: 1fr;
    height: 35em;
  }
  .contact-left h1 {
    font-size: 3em;
    text-align: center;
  }
  .contact-left h2 {
    font-size: 2.5em;
    padding-top: 1em;
    text-align: center;
  }
  .contact-left p {
    font-size: 1.5em;
    padding-top: 0.7em;
    text-align: center;
  }
}
