body{
    font-family: 'poppins',sans-serif;
    overflow-x: hidden
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
nav.black{
    background-color: #1a1a1a;
    height: 70px;
}
nav{
    font-family: 'Poppins';
    font-weight: 600;
}
nav li{
    margin: 0 1em;
    display: block;
    height: 70px;
    padding-top: 1em;
}
.navbar-nav{
    padding-right: 10em
}
nav li a{
    color: white;
    transition: all 0.4s ease
}
.navbar-brand img{
   height: 70px;
   margin-right: 1em
}
.navbar-brand{
    padding-left: 5em;
    color: #fff
}
.navbar-brand:hover{
    color: #fff
}
.active a{
    color: #ec3237 !important;
}
.active{
    border-bottom: 3px solid #ec3237 !important;
}
nav li a:hover{
        color: #ec3237
}
nav .bars{
   color: white 
}
@media only screen and (max-width:47.777em){
    .navbar-toggler-icon{
        color: #fff
    }
    .navbar-brand{
        padding-left: 0;
    }
    .navbar-brand img{
        height: 50px
    } 
    nav.black{
        height: auto
    }
    nav li{
        display: block;
        width: 100%
    }
    .navbar-nav{
        padding-right: 0;
    }
}