.model{
    height: 44.5em;
    width: 100%;
    margin: 0 auto;
}
.model img{
    width: 100%
}
@media only screen and (max-width:47.777em){
    .model{
        height: 15em;
    }
    .model img{
        height: 100%
    }
}